.members-header {
    height: 450px;
    position: relative;
    background-position-y: 30%;
    background-size: cover;
}

.members-header-div{
    height: 150px;
    display: flex;
    background-color: rgba(0, 58, 60, 0.7);
    border-radius: 10px 10px 0px 0px;
}

.members-header-col{
    padding-top: 60px;
}

.members-header-h1 {
    color: #fff !important;
    padding-left: 15px;
    font-size: 6rem !important;
}

.members-header-back-h1 {
    color: #fff !important;
}

.members-article-div{
    height: 30px;
    display: flex;
    background-color: rgba(0, 58, 60, 0.7);
    border-radius: 0px 0px 10px 10px;
}

.members-article-image{
    border-radius: 5px;
}

@media (max-width: 768px) {
    .members-header-col{
        padding-top: 15px;
    }

    .members-header-h1 {
        font-size: 4rem !important;
        line-height: 5rem;
    }
}