.nav-container {
    width: 100%;
    background-color: rgba(0, 58, 60, 0.8);
    position: absolute;
    top: 0;
    z-index: 2;
}

.nav-header-link {
    font-weight: 200;
    margin: 0 25px 0 25px;
    font-size: 18px;
}

.nav-header-link-active {
    font-weight: 200;
    margin: 0 25px 0 25px;
    font-size: 18px;
    border-bottom: #F97352 5px solid;
}

@media (max-width: 768px) {
    .nav-container {
        position: relative;
        background-color: rgba(0, 58, 60, 1);
    }
}