.member-container {
    min-height: 450px;
    padding: 15px;
    justify-content: space-between;
}

.member-item {
    height: 100%;
    cursor: default;
    -webkit-box-shadow: 2px 2px 9px -4px #747474;
    -moz-box-shadow: 2px 2px 9px -4px #747474;
    box-shadow: 2px 2px 9px -4px #747474;
    background-color: #ffffff;
    transition-duration: 0.4s;
}

.member-item:hover {
    margin-top: -5px;
    -webkit-box-shadow: 0 8px 6px -6px #747474;
    -moz-box-shadow: 0 8px 6px -6px #747474;
    box-shadow: 0 8px 6px -6px #747474;
}

.member-image-col{
    height: 100%;
}

.member-image-row{
    height: 50%;
}

.member-image {
    height: 80%;
    border-radius: 50%;
    opacity: 0.9;
    transition-duration: 0.4s;
}

.member-item:hover .member-image {
    margin-top: -5px;
    -webkit-box-shadow: 0 8px 6px -6px #747474;
    -moz-box-shadow: 0 8px 6px -6px #747474;
    box-shadow: 0 8px 6px -6px #747474;
    opacity: 1;
}

.member-description-row{
    height: 35%;
}

.member-title {
    font: 700 1.75rem Nunito, sans-serif;
    color: #003A3C;
}

.member-sub-title {
    font: 400 1rem Nunito, sans-serif;
    color: #969696;
}

.member-button-row{
    height: 15%;
}

.service-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
    -webkit-box-shadow: 3px 5px 6px -6px #747474;
    -moz-box-shadow: 3px 5px 6px -6px #747474;
    box-shadow: 3px 5px 6px -6px #747474;
    border-radius: 3px;
    transition-duration: 0.4s;
    position: relative;
}

.service-row-title {
    opacity: 1;
    transition-duration: 0.4s;
}

.service-col-title {
    text-align: center;
    color: #ffffff;
    padding-top: 1rem;
    background: linear-gradient(0, #00000000 25%, #000000d6 100%);
    height: 85px;
}

.service-overlap {
    width: 100%;
    height: 100%;
    background: linear-gradient(0, #f97352 25%, rgba(255, 255, 255, 0) 100%);
    transition-duration: 0.4s;
    position: absolute;
    top: 100%;
}

.service-overlap-row {
    height: 100%;
    align-items: flex-end;
}

.service-overlap p {
    font-size: 16px;
    color: #ffffff;
    padding: 0px 12px;
}

.service-col:hover .service-overlap {
    top: 0;
}

.service-col:hover .service-image {
    margin-top: -5px;
    -webkit-box-shadow: 0 8px 6px -6px #747474;
    -moz-box-shadow: 0 8px 6px -6px #747474;
    box-shadow: 0 8px 6px -6px #747474;
}

.service-col:hover .service-row-title {
    opacity: 0.05;
}