footer {
    background-repeat: repeat-x;
    background-size: cover;
    background-position-y: top;
}

.footer-container {
    min-height: 350px;
}

.footer-row {
    height: 100%;
}

.footer-section-title {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.footer-section-text {
    color: #fff;
    display: block;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.footer-section-text h6 {
    font-weight: 200;
    font-size: 14px;
    text-align: center;
}

.footer-section-text:hover {
    color: rgba(255, 255, 255, .75);
}