header {
    height: 600px;
    position: relative;
}

.header-carousel-row {
    height: 600px;
}

.header-carousel-col {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.middle-container {
    position: relative;
}

.middle-waves {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.top {
    bottom: inherit;
    top: -49px;
}

.header-img-bottom-reverse-front {
    background-size: contain;
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    -webkit-animation: wave 36s linear infinite;
    animation: wave 36s linear infinite;
    animation-direction: reverse;
    opacity: 0.2;
}

.header-img-bottom {
    background-size: contain;
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    -webkit-animation: wave 36s linear infinite;
    animation: wave 36s linear infinite;
    opacity: 0.5;
}

.header-img-bottom-reverse {
    background-size: contain;
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    -webkit-animation: wave 36s linear infinite;
    animation: wave 15s linear infinite;
    animation-direction: reverse;
    opacity: 1;
}

@keyframes wave {
    0% {
        background-position: 0vw 100%;
    }
    100% {
        background-position: 150vw 100%;
    }
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-142px);
    }
    100% {
        transform: translateY(0px);
    }
}

.middle-section {
    height: 100%;
}

.col-mark {
    text-align: left;
}

.services-article {
    min-height: 500px;
}

@media (max-width: 768px) {
    header {
        height: 400px;
    }
    .header-carousel-col {
        height: 400px;
    }
    .col-mark {
        text-align: center;
    }
}

@media (min-width: 1400px) {
    header {
        height: 700px;
    }
    .header-carousel-col {
        height: 700px;
    }
}